[submodule "aws-codebuild-docker-images"]
	path = aws-codebuild-docker-images
	url = https://github.com/aws/aws-codebuild-docker-images.git
[submodule "xilution-buildspecs"]
	path = xilution-buildspecs
	url = https://github.com/xilution/xilution-buildspecs.git
